:host
{
    display: flex;
    flex-direction: column;
    height:100%;
}
mat-drawer
{
    width: 50px;
    background-color: #502369;
    justify-content: space-between;
}
mat-drawer-container
{
    height: 100%;
}
mat-icon
{
    color: whitesmoke;
}
button
{
    margin-top: 15px ;
}
mat-divider
{
    margin-top: 80px;
    font-weight: bold;
}