<div fxLayout="row"  fxLayoutGap="0px">
    <mat-card fxFlex="50" style="background-color: white;">
        <mat-card-title>Upload Box</mat-card-title>
    </mat-card>
   <mat-card fxFlex="50">
       <mat-card-title>Under Construction</mat-card-title>
       <mat-card-content >
           Sorry we're doing som work on this section 
       </mat-card-content>
       <h2>Thank you for beeing patient. we are doing some work on this section will be back shortly</h2>
    </mat-card>
</div>
<mat-button-toggle  color="primary">upload</mat-button-toggle>

